nginx:
    image: nginx:latest
    ports:
        - '80:80'
    volumes:
        - ./nginx:/etc/nginx/conf.d
        - ./logs/nginx:/var/log/nginx
        - ./wordpress:/var/www/html
    links:
        - wordpress
    restart: always

mysql:
    image: mysql:5.7
    ports:
      - '3306:3306'
    volumes:
      - ./wp-db-data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE={{ wp_db_name }}
      - MYSQL_USER={{ wp_db_user }}
      - MYSQL_PASSWORD={{ wp_db_psw }}
      - MYSQL_RANDOM_ROOT_PASSWORD='1'
    restart: always

wordpress:
    image: wordpress:{{ wp_version }}-php7.3-fpm
    ports:
      - '9000:9000'
    volumes:
      - ./wordpress:/var/www/html
    environment:
      - WORDPRESS_DB_NAME={{ wp_db_name }}
      - WORDPRESS_TABLE_PREFIX={{ wp_db_tb_pre }}
      - WORDPRESS_DB_HOST={{ wp_db_host }}
      - WORDPRESS_DB_USER={{ wp_db_user }}
      - WORDPRESS_DB_PASSWORD={{ wp_db_psw }}
    links:
      - mysql
    restart: always